.DS_Store
Thumbs.db
desktop.ini

.env
.env.*
**/.env
**/.env.*

*.log
logs/
**/logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


node_modules/
**/node_modules/
dist/
build/
out/
coverage/
.next/
.nuxt/
.cache/
.vite/
.eslintcache

.vscode/
.idea/
*.iml
*.swp
*.swo
**/.vscode/
**/.idea/

tmp/
temp/
**/tmp/
**/temp/
